<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_card_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2692,1232},{613,728}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,728}}</string>
                <key>sourceSize</key>
                <string>{613,728}</string>
            </dict>
            <key>img_card_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1962,1232},{613,728}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,728}}</string>
                <key>sourceSize</key>
                <string>{613,728}</string>
            </dict>
            <key>img_card_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,1232},{613,728}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,728}}</string>
                <key>sourceSize</key>
                <string>{613,728}</string>
            </dict>
            <key>img_card_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3422,617},{613,728}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,728}}</string>
                <key>sourceSize</key>
                <string>{613,728}</string>
            </dict>
            <key>img_card_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2692,617},{613,728}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,728}}</string>
                <key>sourceSize</key>
                <string>{613,728}</string>
            </dict>
            <key>img_card_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1962,617},{613,728}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,728}}</string>
                <key>sourceSize</key>
                <string>{613,728}</string>
            </dict>
            <key>img_card_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,617},{613,728}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,728}}</string>
                <key>sourceSize</key>
                <string>{613,728}</string>
            </dict>
            <key>img_card_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,2807},{613,728}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,728}}</string>
                <key>sourceSize</key>
                <string>{613,728}</string>
            </dict>
            <key>img_card_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,2077},{613,728}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,728}}</string>
                <key>sourceSize</key>
                <string>{613,728}</string>
            </dict>
            <key>img_card_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,1347},{613,728}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,728}}</string>
                <key>sourceSize</key>
                <string>{613,728}</string>
            </dict>
            <key>img_card_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,617},{613,728}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,728}}</string>
                <key>sourceSize</key>
                <string>{613,728}</string>
            </dict>
            <key>img_card_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2807,2},{613,728}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,728}}</string>
                <key>sourceSize</key>
                <string>{613,728}</string>
            </dict>
            <key>img_card_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2077,2},{613,728}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,728}}</string>
                <key>sourceSize</key>
                <string>{613,728}</string>
            </dict>
            <key>img_card_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,2},{613,728}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,728}}</string>
                <key>sourceSize</key>
                <string>{613,728}</string>
            </dict>
            <key>img_card_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,2},{613,728}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,728}}</string>
                <key>sourceSize</key>
                <string>{613,728}</string>
            </dict>
            <key>img_card_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2922},{613,728}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,728}}</string>
                <key>sourceSize</key>
                <string>{613,728}</string>
            </dict>
            <key>img_card_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2192},{613,728}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,728}}</string>
                <key>sourceSize</key>
                <string>{613,728}</string>
            </dict>
            <key>img_card_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1462},{613,728}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,728}}</string>
                <key>sourceSize</key>
                <string>{613,728}</string>
            </dict>
            <key>img_card_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{613,728}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,728}}</string>
                <key>sourceSize</key>
                <string>{613,728}</string>
            </dict>
            <key>img_card_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{613,728}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,728}}</string>
                <key>sourceSize</key>
                <string>{613,728}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animal.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c76af1788d74fe3375649fb807969244$</string>
            <key>textureFileName</key>
            <string>animal.png</string>
        </dict>
    </dict>
</plist>
