<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_main_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,1304},{228,264}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,30},{228,264}}</string>
                <key>sourceSize</key>
                <string>{292,294}</string>
            </dict>
            <key>img_main_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1520},{248,258}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,36},{248,258}}</string>
                <key>sourceSize</key>
                <string>{292,294}</string>
            </dict>
            <key>img_main_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1077},{222,258}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,36},{222,258}}</string>
                <key>sourceSize</key>
                <string>{292,294}</string>
            </dict>
            <key>img_main_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1716},{276,258}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,36},{276,258}}</string>
                <key>sourceSize</key>
                <string>{292,294}</string>
            </dict>
            <key>img_main_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,869},{220,258}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,36},{220,258}}</string>
                <key>sourceSize</key>
                <string>{292,294}</string>
            </dict>
            <key>img_main_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,856},{220,258}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,36},{220,258}}</string>
                <key>sourceSize</key>
                <string>{292,294}</string>
            </dict>
            <key>img_main_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1078},{224,260}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,34},{224,260}}</string>
                <key>sourceSize</key>
                <string>{292,294}</string>
            </dict>
            <key>img_main_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,633},{220,292}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,2},{220,292}}</string>
                <key>sourceSize</key>
                <string>{292,294}</string>
            </dict>
            <key>img_main_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,1091},{226,260}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,34},{226,260}}</string>
                <key>sourceSize</key>
                <string>{292,294}</string>
            </dict>
            <key>img_main_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,855},{220,258}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,36},{220,258}}</string>
                <key>sourceSize</key>
                <string>{292,294}</string>
            </dict>
            <key>img_main_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1549,425},{220,292}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,2},{220,292}}</string>
                <key>sourceSize</key>
                <string>{292,294}</string>
            </dict>
            <key>img_main_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,1567},{254,270}}</string>
                <key>offset</key>
                <string>{-13,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,24},{254,270}}</string>
                <key>sourceSize</key>
                <string>{292,294}</string>
            </dict>
            <key>img_main_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1290},{228,258}}</string>
                <key>offset</key>
                <string>{4,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,36},{228,258}}</string>
                <key>sourceSize</key>
                <string>{292,294}</string>
            </dict>
            <key>img_main_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1468},{246,258}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,36},{246,258}}</string>
                <key>sourceSize</key>
                <string>{292,294}</string>
            </dict>
            <key>img_main_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,846},{220,258}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,36},{220,258}}</string>
                <key>sourceSize</key>
                <string>{292,294}</string>
            </dict>
            <key>img_main_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,634},{220,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,0},{220,294}}</string>
                <key>sourceSize</key>
                <string>{292,294}</string>
            </dict>
            <key>img_main_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,411},{220,292}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,2},{220,292}}</string>
                <key>sourceSize</key>
                <string>{292,294}</string>
            </dict>
            <key>img_main_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1567},{252,294}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{252,294}}</string>
                <key>sourceSize</key>
                <string>{292,294}</string>
            </dict>
            <key>img_main_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,624},{220,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,0},{220,294}}</string>
                <key>sourceSize</key>
                <string>{292,294}</string>
            </dict>
            <key>img_main_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,1319},{246,284}}</string>
                <key>offset</key>
                <string>{-13,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{246,284}}</string>
                <key>sourceSize</key>
                <string>{292,294}</string>
            </dict>
            <key>img_sticker_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,179},{219,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,215}}</string>
                <key>sourceSize</key>
                <string>{219,215}</string>
            </dict>
            <key>img_sticker_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,2},{236,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,171}}</string>
                <key>sourceSize</key>
                <string>{236,171}</string>
            </dict>
            <key>img_sticker_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,175},{236,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,210}}</string>
                <key>sourceSize</key>
                <string>{236,210}</string>
            </dict>
            <key>img_sticker_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,2},{256,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,142}}</string>
                <key>sourceSize</key>
                <string>{256,142}</string>
            </dict>
            <key>img_sticker_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,146},{209,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,238}}</string>
                <key>sourceSize</key>
                <string>{209,238}</string>
            </dict>
            <key>img_sticker_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,357},{238,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,221}}</string>
                <key>sourceSize</key>
                <string>{238,221}</string>
            </dict>
            <key>img_sticker_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,182},{238,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,218}}</string>
                <key>sourceSize</key>
                <string>{238,218}</string>
            </dict>
            <key>img_sticker_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,2},{178,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,264}}</string>
                <key>sourceSize</key>
                <string>{178,264}</string>
            </dict>
            <key>img_sticker_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,387},{231,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,224}}</string>
                <key>sourceSize</key>
                <string>{231,224}</string>
            </dict>
            <key>img_sticker_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,190},{231,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,219}}</string>
                <key>sourceSize</key>
                <string>{231,219}</string>
            </dict>
            <key>img_sticker_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,2},{200,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,225}}</string>
                <key>sourceSize</key>
                <string>{200,225}</string>
            </dict>
            <key>img_sticker_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,191},{221,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,219}}</string>
                <key>sourceSize</key>
                <string>{221,219}</string>
            </dict>
            <key>img_sticker_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{258,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,205}}</string>
                <key>sourceSize</key>
                <string>{258,205}</string>
            </dict>
            <key>img_sticker_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1523,2},{257,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,187}}</string>
                <key>sourceSize</key>
                <string>{257,187}</string>
            </dict>
            <key>img_sticker_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,580},{242,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,232}}</string>
                <key>sourceSize</key>
                <string>{242,232}</string>
            </dict>
            <key>img_sticker_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1657,204},{219,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,264}}</string>
                <key>sourceSize</key>
                <string>{219,264}</string>
            </dict>
            <key>img_sticker_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,187}}</string>
                <key>sourceSize</key>
                <string>{116,187}</string>
            </dict>
            <key>img_sticker_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,2},{191,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,186}}</string>
                <key>sourceSize</key>
                <string>{191,186}</string>
            </dict>
            <key>img_sticker_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{137,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,188}}</string>
                <key>sourceSize</key>
                <string>{137,188}</string>
            </dict>
            <key>img_sticker_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,2},{185,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,175}}</string>
                <key>sourceSize</key>
                <string>{185,175}</string>
            </dict>
            <key>unlock_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,1091},{226,258}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,36},{226,258}}</string>
                <key>sourceSize</key>
                <string>{292,294}</string>
            </dict>
            <key>unlock_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,1304},{248,258}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,36},{248,258}}</string>
                <key>sourceSize</key>
                <string>{292,294}</string>
            </dict>
            <key>unlock_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,846},{220,258}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,36},{220,258}}</string>
                <key>sourceSize</key>
                <string>{292,294}</string>
            </dict>
            <key>unlock_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,1567},{276,258}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,36},{276,258}}</string>
                <key>sourceSize</key>
                <string>{292,294}</string>
            </dict>
            <key>unlock_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{220,258}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,36},{220,258}}</string>
                <key>sourceSize</key>
                <string>{292,294}</string>
            </dict>
            <key>unlock_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,647},{220,258}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,36},{220,258}}</string>
                <key>sourceSize</key>
                <string>{292,294}</string>
            </dict>
            <key>unlock_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1014},{222,258}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,36},{222,258}}</string>
                <key>sourceSize</key>
                <string>{292,294}</string>
            </dict>
            <key>unlock_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,647},{220,258}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,36},{220,258}}</string>
                <key>sourceSize</key>
                <string>{292,294}</string>
            </dict>
            <key>unlock_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,1091},{226,258}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,36},{226,258}}</string>
                <key>sourceSize</key>
                <string>{292,294}</string>
            </dict>
            <key>unlock_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{220,258}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,36},{220,258}}</string>
                <key>sourceSize</key>
                <string>{292,294}</string>
            </dict>
            <key>unlock_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1289,412},{220,258}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,36},{220,258}}</string>
                <key>sourceSize</key>
                <string>{292,294}</string>
            </dict>
            <key>unlock_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,1567},{254,258}}</string>
                <key>offset</key>
                <string>{-13,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,36},{254,258}}</string>
                <key>sourceSize</key>
                <string>{292,294}</string>
            </dict>
            <key>unlock_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1238},{228,258}}</string>
                <key>offset</key>
                <string>{4,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,36},{228,258}}</string>
                <key>sourceSize</key>
                <string>{292,294}</string>
            </dict>
            <key>unlock_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,1319},{246,258}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,36},{246,258}}</string>
                <key>sourceSize</key>
                <string>{292,294}</string>
            </dict>
            <key>unlock_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,402},{220,258}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,36},{220,258}}</string>
                <key>sourceSize</key>
                <string>{292,294}</string>
            </dict>
            <key>unlock_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,869},{220,266}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,28},{220,266}}</string>
                <key>sourceSize</key>
                <string>{292,294}</string>
            </dict>
            <key>unlock_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{220,258}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,36},{220,258}}</string>
                <key>sourceSize</key>
                <string>{292,294}</string>
            </dict>
            <key>unlock_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,1534},{252,262}}</string>
                <key>offset</key>
                <string>{-16,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,32},{252,262}}</string>
                <key>sourceSize</key>
                <string>{292,294}</string>
            </dict>
            <key>unlock_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1068},{220,260}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,34},{220,260}}</string>
                <key>sourceSize</key>
                <string>{292,294}</string>
            </dict>
            <key>unlock_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,1319},{246,258}}</string>
                <key>offset</key>
                <string>{-13,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,36},{246,258}}</string>
                <key>sourceSize</key>
                <string>{292,294}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animal_card.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22eab7b3d58fed4d49b4ed3f83806c16$</string>
            <key>textureFileName</key>
            <string>animal_card.png</string>
        </dict>
    </dict>
</plist>
